<div class="container">
  <h2>Now in app component</h2>

  <div class="more-products">
    <app-home>
      <h4 class="title">New in iphone</h4>
      <input type="button" class="btn btn-primary" />
    </app-home>
    <app-home>
      <h4 class="title">New in iphone</h4>
      <input type="button" class="btn btn-primary" />
    </app-home>
    <app-home>
      <h4 class="title">New in iphone</h4>
      <input type="button" class="btn btn-primary" />
    </app-home>
    <app-home>
      <h4 class="title">New in iphone</h4>
      <input type="button" class="btn btn-primary" />
    </app-home>
  </div>
</div>
